/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Http/Controllers/TasksController.php
/app/Models/Task.php
/app/Models/Category.php
/database/factories/CategoryFactory.php
/database/factories/TaskFactory.php
/database/migrations/2021_04_09_232423_create_categories_table.php
/database/migrations/2021_04_09_233234_create_tasks_table.php
